<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vašo a Mič</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:900">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<main>
    <article class="content container">

        <h2 class="shadow">kto je väčšia</h2>
        <h1 class="shadow">sex mašina?</h1>

    <form action="" method="post" class="contact-form group">
        <div class="pull-left mitch">
            <img src="img/mitch.jpg" alt="mitch" id="mitch">
            <p class="score">13</p>
            <!-- <button class="btn btn-red" name="mitch" value="1">Mič</button> -->
        </div>

        <div class="pull-right vasho">
            <img src="img/vasho.jpg" alt="vasho" id="vasho">
            <p class="score">69</p>
            <!-- <button class="btn btn-red" name="vasho" value="1">Vašo</button> -->
        </div>
    </form>

    </article>
</main>

    <script src="js/lodash.min.js"></script>
    <script src="js/script2.js"></script>

</body>
</html>