<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Click me</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <article>
        Pocet poloziek: <input type="text" id="numberOfItems">
        <br/>
        <br/>
        Cena polozky: <input type="text" id="itemPrice">
        <br/>
        <br/>
        <input type="button" value="Vypocitaj" id="computeId">
        <br/>
        <br/>
        Vypocitaj s danou 20%: <input type="checkbox" id="computeWithTax" checked="checked">
        <br/>
        <p id="computeParagraph"></p>
        <br/>
        <input type="button" value="Click me" id="myButtonId">

        <br/>
        <br/>

        <ul id="browser">

        </ul>

        <ul id="user">

        </ul>
    </article>


<script src="script.js"></script>

</body>
</html>