<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Click me</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <article>
        Pocet poloziek: <input type="text" id="numberOfItems">
        <br/>
        <br/>
        Cena polozky: <input type="text" id="itemPrice">
        <br/>
        <br/>
        <input type="button" value="Vypocitaj" id="computeId">
        <br/>
        <p id="computeParagraph"></p>
        <br/>

        Prve cislo: <input type="text" id="firstNumber">
        <br/>
        <br/>
        Druhe cislo: <input type="text" id="secondNumber">
        <br>
        <br/>
        <input type="button" value="Porovnaj cisla" id="numberComparisonButtonId">
        <br/>
        <p id="numberComparisonParagraphId"></p>
        <br/>
        <input type="button" value="Click me" id="myButtonId">

        <br/>
        <br/>

        <ul id="browser">

        </ul>

        <ul id="user">

        </ul>
    </article>


<script src="../js/script.js"></script>

</body>
</html>